# Maps
NEXT_PUBLIC_YANDEX_MAPS_KEY=
NEXT_PUBLIC_YANDEX_TILES_API_KEY=
NEXT_PUBLIC_OSRM_URL=https://router.project-osrm.org

# Yandex (deprecated, but kept for reference)
YANDEX_SUGGEST_KEY=

# API
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Geocoding
DADATA_API_KEY=
DADATA_SECRET_KEY=